<div>
    <h2>Approved Insurance</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Policy Name</th>
                <th>Vehicle Type</th>
                <th>User Name</th>
                <th>Make</th>
                <th>Model</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let insurance of approvedInsurance; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ insurance.policyName }}</td>
                <td>{{ insurance.vehicleType }}</td>
                <td>{{ insurance.userName }}</td>
                <td>{{ insurance.make }}</td>
                <td>{{ insurance.model }}</td>
                <td>{{ insurance.status }}</td>
                <td><a [routerLink]="['/admin/insurance-details-data', insurance.id]">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Rejected Insurance</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Policy Name</th>
                <th>Vehicle Type</th>
                <th>User Name</th>
                <th>Make</th>
                <th>Model</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let insurance of rejectedInsurance; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ insurance.policyName }}</td>
                <td>{{ insurance.vehicleType }}</td>
                <td>{{ insurance.userName }}</td>
                <td>{{ insurance.make }}</td>
                <td>{{ insurance.model }}</td>
                <td>{{ insurance.status }}</td>
                <td><a [routerLink]="['/admin/insurance-details-data', insurance.id]">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Pending Insurance</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Policy Name</th>
                <th>Vehicle Type</th>
                <th>User Name</th>
                <th>Make</th>
                <th>Model</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let insurance of pendingInsurance; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ insurance.policyName }}</td>
                <td>{{ insurance.vehicleType }}</td>
                <td>{{ insurance.userName }}</td>
                <td>{{ insurance.make }}</td>
                <td>{{ insurance.model }}</td>
                <td>{{ insurance.status }}</td>
                <td><a [routerLink]="['/admin/insurance-details-data/', insurance.id]">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>