<app-navbar-admin-1></app-navbar-admin-1>

<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item" (click)="selectInsuranceType('Approved')">
            <a class="nav-link" [class.active]="selectedInsuranceType === 'Approved'">Active</a>
        </li>
        <li class="nav-item" (click)="selectInsuranceType('Pending')">
            <a class="nav-link" [class.active]="selectedInsuranceType === 'Pending'">Pending</a>
        </li>
        <li class="nav-item" (click)="selectInsuranceType('Rejected')">
            <a class="nav-link" [class.active]="selectedInsuranceType === 'Rejected'">Rejected</a>
        </li>
    </ul>

    <h1 class="text-center mt-4">Insurance Requests by the users</h1>

    <div class="row mt-4">
        <div class="col-md-12">
            <!-- Loop through insurance types -->
            <div *ngFor="let insuranceType of insuranceTypes">
                <div *ngIf="insuranceType.title === selectedInsuranceType">
                    <div class="card-container">
                        <!-- Loop through insurance requests within the selected type -->
                        <div class="custom-card" *ngFor="let request of insuranceType.requests">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Policy Name: {{ request.policyName }}</h5>
                                    <p class="card-text">Vehicle Type: {{ request.vehicleType }}</p>
                                    <p class="card-text">User Name: {{ request.userName }}</p>
                                    <p class="card-text">Make: {{ request.make }}</p>
                                    <p class="card-text">Model: {{ request.model }}</p>
                                    <p class="card-text">Status: {{ request.status }}</p>
                                    <a [routerLink]="['/admin/insurance-details-data', request.id]"
                                        class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>