<app-navbar-admin-1></app-navbar-admin-1>

<div class="dad">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let claimGroup of claimGroups"
                    [class.active]="claimGroup === selectedClaimGroup">
                    <a class="nav-link" (click)="selectClaimGroup(claimGroup)">{{ claimGroup.title }}</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4" *ngFor="let claim of selectedClaimGroup.claims">
                <div class="card mb-4 custom-card">
                    <div class="card-body">
                        <h3 class="card-title">{{ claim?.type}}</h3>
                        <p class="card-text"> <b>Incident Date: </b> {{ claim?.incidentDate }}</p>
                        <p class="card-text"><b>Policy Name: </b>{{ claim?.type }}</p>
                        <p class="card-text"><b>Status:</b> {{ claim?.status }}</p>
                        <!-- Pass claim ID to setSelectedClaimId() function -->
                        <a [routerLink]="['/admin/claim-details-data', claim.id]" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>