<div>
    <p>Welcome, {{ fullName }}</p>
    <p>Your role is: {{ role }}</p>
    <p>{{userId}}</p>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <a style="background: red;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
</div>