.footer {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* Text color */
  }
  
  .footer-quote {
    padding: 20px;
  }
  
  .footer-info {
    padding: 20px;
  }
  
  .carousel-btrp {
    margin: 0 auto;
    overflow: hidden;
  }