<table class="table">
    <thead>
      <tr>
        <th>Vehicle Type</th>
        <th>Policy Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Status</th>
        <th>Policy Rate</th>
        <th></th> <!-- Empty column for View More button/link -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userPolicyStatusList">
        <td>{{ item.vehicleType }}</td>
        <td>{{ item.policyName }}</td>
        <td>{{ item.make }}</td>
        <td>{{ item.model }}</td>
        <td [ngClass]="{ 'bg-yellow': item.status === 'Pending', 'bg-green': item.status === 'Approved' }">{{ item.status }}</td>
        <td>{{ item.policyRate }}</td>
        <td>
          <button (click)="viewMore(item.id)">View More</button>
        </td>
      </tr>
    </tbody>
  </table>
  