<app-navbar></app-navbar>

<div id="user-landing" class="container-fluid">
  <!-- Background image -->
  <div class="background-image">
    <!-- Logo -->
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center">
        <img src="path/to/logo.png" alt="Policy Pro" class="img-fluid">
      </div>
      <div class="col-md-6 text-center">
        <!-- Main options -->
        <div class="d-flex flex-column align-items-center">
          <button class="btn btn-primary btn-lg mb-3" routerLink="/policy-purchase-landing">Policy Purchase</button>
          <button class="btn btn-primary btn-lg mb-3" routerLink="/user-insurance-detail">Policy Status</button>
          <button class="btn btn-primary btn-lg mb-3" routerLink="/claim-details">Claim Status</button>
          <button class="btn btn-primary btn-lg mb-3" routerLink="/claim">Make Claim</button>
        </div>
      </div>
    </div>
  </div>
</div>