<div *ngIf="insuranceDetails">
    <h2>Insurance Details</h2>
    <ul>
        <li><strong>Vehicle Type:</strong> {{ insuranceDetails.vehicleType }}</li>
        <li><strong>Policy Name:</strong> {{ insuranceDetails.policyName }}</li>
        <li><strong>Make:</strong> {{ insuranceDetails.make }}</li>
        <li><strong>Model:</strong> {{ insuranceDetails.model }}</li>
        <li><strong>Status:</strong> {{ insuranceDetails.status }}</li>
        <li><strong>Policy Rate:</strong> {{ insuranceDetails.policyRate }}</li>
        <li><strong>Cylinder Capacity:</strong> {{ insuranceDetails.cylinderCapacity }}</li>
        <li><strong>KW:</strong> {{ insuranceDetails.kw }}</li>
        <li><strong>Date of Manufacture:</strong> {{ insuranceDetails.dateOfManufacture }}</li>
        <li><strong>Number of Seats:</strong> {{ insuranceDetails.numberOfSeats }}</li>
        <li><strong>Right Hand Drive:</strong> {{ insuranceDetails.rightHandDrive }}</li>
        <li><strong>Number of Seats (Motorcycle):</strong> {{ insuranceDetails.numberOfSeatsMotorcycle }}</li>
        <li><strong>Fuel Type:</strong> {{ insuranceDetails.fuelType }}</li>
        <li><strong>Payload:</strong> {{ insuranceDetails.payload }}</li>
        <li><strong>Total Weight:</strong> {{ insuranceDetails.totalWeight }}</li>
        <li><strong>List Price:</strong> {{ insuranceDetails.listPrice }}</li>
        <li><strong>License Plate Number:</strong> {{ insuranceDetails.licensePlateNumber }}</li>
        <li><strong>Annual Mileage:</strong> {{ insuranceDetails.annualMileage }}</li>
        <li><strong>First Name:</strong> {{ insuranceDetails.firstName }}</li>
        <li><strong>Last Name:</strong> {{ insuranceDetails.lastName }}</li>
        <li><strong>Date of Birth:</strong> {{ insuranceDetails.dateOfBirth }}</li>
        <li><strong>Gender:</strong> {{ insuranceDetails.gender }}</li>
        <li><strong>Street Address:</strong> {{ insuranceDetails.streetAddress }}</li>
        <li><strong>Country:</strong> {{ insuranceDetails.country }}</li>
        <li><strong>Zip Code:</strong> {{ insuranceDetails.zipCode }}</li>
        <li><strong>City:</strong> {{ insuranceDetails.city }}</li>
        <li><strong>Occupation:</strong> {{ insuranceDetails.occupation }}</li>
        <li><strong>Hobbies:</strong> {{ insuranceDetails.hobbies }}</li>
        <li><strong>Website:</strong> {{ insuranceDetails.website }}</li>
        <li><strong>Picture:</strong> {{ insuranceDetails.picture }}</li>
        <li><strong>Start Date:</strong> {{ insuranceDetails.startDate }}</li>
        <li><strong>Insurance Sum:</strong> {{ insuranceDetails.insuranceSum }}</li>
        <li><strong>Merit Rating:</strong> {{ insuranceDetails.meritRating }}</li>
        <li><strong>Damage Insurance:</strong> {{ insuranceDetails.damageInsurance }}</li>
        <li><strong>Optional Products:</strong> {{ insuranceDetails.optionalProducts }}</li>
        <li><strong>Courtesy Car:</strong> {{ insuranceDetails.courtesyCar }}</li>
        <li><strong>Price Sum:</strong> {{ insuranceDetails.priceSum }}</li>
        <li><strong>Select Option:</strong> {{ insuranceDetails.selectOption }}</li>
        <li><strong>Quote Type:</strong> {{ insuranceDetails.quoteType }}</li>
        <li><strong>Email:</strong> {{ insuranceDetails.email }}</li>
        <li><strong>Phone:</strong> {{ insuranceDetails.phone }}</li>
        <li><strong>Comments:</strong> {{ insuranceDetails.comments }}</li>
    </ul>
</div>