/* Custom styles for user landing page */
#user-landing {
    padding-top: 0; /* No top padding */
  }
  
  .background-image {
    background-image: url('https://media.istockphoto.com/id/1127838959/photo/family-care-and-love-hands-with-family-symbol-silhouette.jpg?s=1024x1024&w=is&k=20&c=3YI1dCnHd07lzHb7tfL8q-3wazGa3mW2IDIsJYMVby4='); /* Set background image */
    background-size: cover; /* Cover the entire screen with the background image */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  #user-landing .btn {
    font-size: 2rem; /* Increase button font size */
    border-radius: 50px; /* Make buttons more rounded */
    min-width: 200px; /* Set a minimum width for buttons */
    height: 80px; /* Set a fixed height for buttons */
  }
  