#user-landing {
  background-color: rgb(238, 214, 185);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.btn {
  padding: 0; /* Remove default padding */
  position: relative; /* Position buttons relative to the container */
  width: 80%; /* Set the width to match the image */
}

.btn-img {
  width: 100%; /* Make the image cover the entire button */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.btn-text {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 5rem; /* Adjust font size as needed */
  color: rgb(252, 252, 252); /* Text color */
}

.btn-small {
  height: auto; /* Adjust as needed */
  width: 80%; /* Adjust width as needed */
  margin-bottom: 15px; /* Adjust as needed */
}

.btn-list {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.vehicle-btn:hover {
  box-shadow: 5px 8px 8px rgba(0,0,0,0.5);
  transform: scale(1.05);
  transition: 0.5s all ease;
}