<app-navbar></app-navbar>

<div id="user-landing" class="container-fluid">
  <!-- Background image -->
  <div class="background-image">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <button class="btn btn-primary btn-lg m-3" routerLink="/car">Car</button>
            <button class="btn btn-primary btn-lg m-3" routerLink="/bike">Bike</button>
            <button class="btn btn-primary btn-lg m-3" routerLink="/truck">Truck</button>
            <button class="btn btn-primary btn-lg m-3" routerLink="/scooty">Scooty</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
