<app-navbar-user-1></app-navbar-user-1>
<div id="user-landing">
  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row justify-content-center">
      <div class="col-md-12 mt-4">
        <div class="btn-list">
          <button class="btn btn btn-small mb-4 w-100 vehicle-btn" routerLink="/car">
            <img
              src="https://media.istockphoto.com/id/1150931120/photo/3d-illustration-of-generic-compact-white-car-front-side-view.jpg?s=1024x1024&w=is&k=20&c=3w7KSlHnU0KCZnUhZO15C0WE-YYpwnBfRwbwIptXdCY="
              alt="Car" class="btn-img" />
            <span class="btn-text">Car</span>
          </button>
          <button class="btn btn btn-small mb-4 w-100 vehicle-btn" routerLink="/bike">
            <img
              src="https://media.istockphoto.com/id/1016769248/photo/photo-of-helmet-and-motorcycle-on-the-road-the-concept-of-road-accidents.jpg?s=1024x1024&w=is&k=20&c=xz6ONYkVAEXKMD7TM0RA9g0W9NbaXNSQ6JjxX5IeGns="
              alt="Bike" class="btn-img" />
            <span class="btn-text">Bike</span>
          </button>

        </div>
        <div class="btn-list">
          <button class="btn btn btn-small mb-4 w-100 vehicle-btn" routerLink="/truck">
            <img
              src="https://media.istockphoto.com/id/1284419710/photo/white-truck-in-motion-uk-street.jpg?s=1024x1024&w=is&k=20&c=BPH2VYprwovrey3P1UtFMsmTqcRBUgYb2VJ3ARSwiDc="
              alt="Truck" class="btn-img" />
            <span class="btn-text">Truck</span>
          </button>
          <button class="btn btn btn-small mb-4 w-100 vehicle-btn" routerLink="/scooty">
            <img
              src="https://media.istockphoto.com/id/186295114/photo/vintage-scene-with-vespa-on-old-street.jpg?s=1024x1024&w=is&k=20&c=Sp0WioTl-WUmQdEXsqA2QQmNOu3PQQ8459uHF6lNO_Q="
              alt="Scooty" class="btn-img" />
            <span class="btn-text">Scooty</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>